@charset "UTF-8";

.content{
	overflow:auto; /* 자식의 margin이 부모의 margin에 영향을 끼치는 margin-collapse현상을 방지하기 위함 */ 
	background: linear-gradient(120deg, #81ecec,#6c5ce7, #020D42);
}

.card:first-of-type > p{
	font-size: 35px;
	font-weight : bold;
	margin: 0 auto;
	text-align: center;
}

.card{
	width: 80%;
	padding: 32px; 
	margin: 50px auto;
	
	background: #fff; 
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px; 
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	 -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15); 
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15); 
	
	overflow: auto;
}

.card > table{
	width:100%;
	border-collapse: collapse;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.card > table >thead{
	background-color: #eee;
}

.card > table >thead>tr>th{
	padding : 2% 0;
}

.card > table >tbody>tr>td{
	padding : 2% 0;
	text-align: center;
}

.total-info-section{
	margin-top: 20px;
	padding : 32px;
	background-color: #66a7f8;
	
	text-align: center;
}

.order-btn-section{
	margin-top: 20px;
}

.order-btn{
    border: 5px solid transparent;
    border-radius: 15px;
    background-image: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec), 
    linear-gradient(to right, #e66465, #9198e5);
    background-origin: border-box;
    background-clip: content-box, border-box;
    
    cursor:pointer;
  	transition: 0.4s;
  	position:relative;
  	background-position: left;
  	background-size: 200%;
  	
  	width:100%;
  	height:70px;
  	
  	color:white;
  	font-weight: bold;
  	font-size: 25px;
}

.order-btn:hover{
	background-position: right;
}

