@charset "UTF-8";

.content{
	overflow:auto; /* 자식의 margin이 부모의 margin에 영향을 끼치는 margin-collapse현상을 방지하기 위함 */ 
	background: linear-gradient(120deg, #81ecec,#6c5ce7, #020D42);
}

.card{
	width: 80%;
	padding: 32px; 
	margin: 50px auto;
	
	background: #fff; 
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px; 
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	 -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15); 
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15); 
	
}

.card > .infor{
	width:100%;
	overflow:auto;
}

.alter-img , .alter-detail{
	border: 5px solid transparent;
    border-radius: 15px;
    background-image: linear-gradient(white, white), 
    linear-gradient(to right, #e66465, #9198e5);
    background-origin: border-box;
    background-clip: content-box, border-box;
    height:320px;
    
    float: left;
}

.alter-img{
	width:30%;
}

.alter-img > img{
	height: 70%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.alter-img > div {
	height: 30%;
	display: flex;
	align-items: center;
}

.alter-img > div > p {
	margin: auto;
}

.alter-detail{
	width:68%;
	margin-left:2%;
	display: flex;
	align-items: center;
}

.alter-detail>div{
	width:100%;
}

.alter-detail>div>p{
	text-align: center;
}

.alter-detail>div>div{
	width:80%;
	margin-left:auto; 
	margin-right:auto;
	margin-top: 50px;
}

.write-box{
	border : 5px solid #D2D2D2; 
	border-radius: 15px;  
	width:100%;  
	margin-top: 15px; 
	padding: 50px 30px;
}

.write-box > form > div:first-of-type{
	display: flex;
	margin-top: 30px;
}

.write-box > form > div>select{
	width:12%;
	margin-right: 2%;
}

.write-box > form > div:last-of-type{
	text-align: right;
}

.write-box > form > div:last-of-type > input{
	width: 15%;
	height: 35px;
}


/* ===별점 css=== */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: right;
  width: 5em;
}
 
.star-rating input {
  display: none;
}
 
.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}


.star-ratings {
	  color: #aaa9a9; 
	  position: relative;
	  unicode-bidi: bidi-override;
	  width: max-content;
	  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	  -webkit-text-stroke-width: 1.3px;
	  -webkit-text-stroke-color: #2b2a29;
	}
	 
.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}
 
.star-ratings-base {
  z-index: 0;
  padding: 0;
}



.review-list > div:first-of-type{
	text-align: center;
	margin-top: 25px;
}

.review > table{
	width:100%;
	border-collapse : collapse ;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.review > table >thead{
	background-color: #eee;
}


.review > table >thead>tr>th{
	padding : 1% 0px;
}


.review > table > tbody> tr{
	border-top: 2px solid gray;
}

.review > table > tbody> tr >td{
	padding : 2% 0;
	text-align: center;
}

.review > table > tbody> tr >td:nth-child(1){
	width:7%;
}
.review > table > tbody> tr >td:nth-child(2){
	width:10%;
}
.review > table > tbody> tr >td:nth-child(3){
	width:48%;
	text-align: left;
}
.review > table > tbody> tr >td:nth-child(4){
	width:20%;
}
.review > table > tbody> tr >td:nth-child(5){
	width:15%;
}