@charset "UTF-8";

.content{
	overflow:auto; /* 자식의 margin이 부모의 margin에 영향을 끼치는 margin-collapse현상을 방지하기 위함 */ 
	background: linear-gradient(120deg, #81ecec,#6c5ce7, #020D42);
}

.card{
	width: 80%;
	padding: 32px; 
	margin: 50px auto;
	
	background: #fff; 
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px; 
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	 -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15); 
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15); 
	
	overflow:auto;
}

.alter_img , .alter_detail{
	border: 5px solid transparent;
    border-radius: 15px;
    background-image: linear-gradient(white, white), 
    linear-gradient(to right, #e66465, #9198e5);
    background-origin: border-box;
    background-clip: content-box, border-box;
    height:370px;
    
    float: left;
}