@charset "UTF-8";

.main_content{
	background: linear-gradient(to top, #999ECB, #376B97, #020D42, #01011D); 
	
	display: flex;
	align-items : center;
	justify-content: space-between;
}

.img_section{
	width:55%;
}

.phrase_section{
	margin-right : 30px;
	text-align: right;
}

.phrase_section h2{
	color:white;
}

.content > nav > section{
	display: flex;
}

.tob-box{
	height: 300px;
	width: 25%;
	/* background-color: #22507f; */
	/* background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec); */
	background: linear-gradient(90deg, #81ecec,#6c5ce7, #020D42, #020D42, #020D42);
	background-position: right;
	background-size: 200%;
	cursor:pointer;
	transition: 0.4s;
	text-align: center;
	/* border: 7px solid yellow; */
	border-radius: 2em;
	
	display: flex; 
	align-items : center;
}

.tob-box a {
  	color: white;
  	font-size: 35pt;
  	margin: auto;
}
	
.tob-box:hover {
	 background-position: left;
	 /* border: 10px solid #67930F; */
	 
}
