<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="order">

	<select id="getGoosInfoForOrder" resultType="com.project.bibaboo.domain.order.dto.OrderPageCategoryDTO">
		SELECT c.id as categoryId, c.alter_id, c.name as categoryName, a.name as alterName, c.price as categoryPrice
		FROM category c
		JOIN alterations a
		ON c.alter_id = a.id
		WHERE c.id = #{categoryId}
	</select>
	
	<select id="getOrderList" resultType="com.project.bibaboo.domain.order.dto.OrderDTO">
		SELECT id, user_id, pay_price, create_date, state
		FROM alter_order
		WHERE user_id = #{userId}
		order by create_date desc
		limit #{startOffset}, #{amount}
	</select>
	
	<select id="getOrderTotal" resultType="int">
		SELECT COUNT(*)
		FROM alter_order
		WHERE user_id = #{userId}
	</select>
	
	<!-- 3중 조인 사용 -->
	<select id="getOrderCategories" resultType="com.project.bibaboo.domain.order.dto.OrderCategoryDTO">
		SELECT oc.id as orderCategoryId, oc.order_id, oc.alter_id, al.name as alterName, oc.category_id  , ca.name as categoryName, oc.count, oc.total_price, oc.state
		FROM alter_order_category as oc
		join alterations as al
		on oc.alter_id = al.id
		join category as ca
		on oc.category_id = ca.id
		WHERE oc.order_id = #{orderId}
	</select>
	
	<sql id="criteria">
		<trim prefix="AND (" suffix=")" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type  == 'orderCategoryId'.toString()">
							oc.id = (CAST(#{keyword} AS UNSIGNED))
						</when>
						<when test="type == 'category'.toString()">
							ca.name LIKE CONCAT('%',#{keyword},'%')
						</when>
						<when test="type == 'orderState'.toString()">
							oc.state LIKE CONCAT('%',#{keyword},'%')
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="getCategoriesAndUserInfoByAlterId" resultType="com.project.bibaboo.domain.order.dto.OrderCategoryDTO">
		SELECT oc.id as orderCategoryId, oc.order_id, oc.alter_id, oc.category_id, ca.name as categoryName, oc.count, oc.total_price, oc.state, 
			ao.user_email, ao.user_name, ao.user_phone_number, ao.create_date
		FROM alter_order_category as oc
		JOIN category as ca
		ON oc.category_id = ca.id
		JOIN alter_order ao
		ON oc.order_id = ao.id
		WHERE oc.alter_id = #{alterId}
		<if test="keyword != null">
			<include refid="criteria">
			</include>
		</if>
		ORDER BY ao.create_date DESC, oc.id DESC
	</select>
	
	<select id="countOrderCategoriesByAlterId" resultType="int">
		SELECT COUNT(*)
		FROM alter_order_category as oc
		JOIN category as ca
		ON oc.category_id = ca.id
		WHERE oc.alter_id = #{alterId}
		<if test="keyword != null">
			<include refid="criteria">
			</include>
		</if>
	</select>
	
	<!-- 아래 코드 안쓰고 있음  -->
	<select id="getOrderInfo" resultType="com.project.bibaboo.domain.order.dto.OrderCategoryDTO">
		SELECT id AS categoryId, price AS categoryPrice
		FROM category
		WHERE id IN 
			<foreach collection="orders" item="order" open="(" separator="," close=")">
				#{order.categoryId}
			</foreach>
	</select>

	<insert id="enrollOrder">
		INSERT INTO alter_order(user_id, user_email, user_name, user_phone_number, pay_price, state)
		VALUES(#{userId}, #{userEmail}, #{userName}, #{userPhoneNumber},#{payPrice}, '주문접수')
	</insert>
	
	<insert id="enrollOrderCategory">
		<!-- alter_order 테이블의 마지막 id값 가져오기 -->
		<!-- keyProperty의 값은 parameterType(DTO) 의 멤버(setter)명과 동일해야 한다.  -->
		<selectKey resultType="int" keyProperty="id" order="BEFORE">
			SELECT LAST_INSERT_ID()
		</selectKey>
		
		INSERT INTO alter_order_category(order_id, alter_id, category_id, count, total_price, state)
		VALUES
			<foreach collection="orders" item="order" separator=",">
				(#{id},#{order.alterId},#{order.categoryId},#{order.count},#{order.totalPrice},'주문접수')
			</foreach>
	</insert>
	
	<update id="orderCancle">
		UPDATE alter_order
		SET state = '주문취소'
		WHERE id = #{orderId}
	</update>
	
	<update id="orderCategoryCancle">
		UPDATE alter_order_category
		SET state = '주문취소'
		WHERE order_id = #{orderId}
	</update>
	
	<update id="cancleByOrderCategoryId">
		UPDATE alter_order_category
		SET state = '주문취소'
		WHERE id = #{orderCategoryId}
	</update>
	
	<update id="updateOrderCategoryState">
		UPDATE alter_order_category
		SET state = #{state}
		WHERE id = #{orderCategoryId}
	</update>
	
	<select id="orderCategoryStateCheckForReview" resultType="String">
		SELECT state
		FROM alter_order_category
		WHERE id = #{orderCategoryId}
	</select>
	
</mapper>