<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="user">

	<sql id="criteria">
		<trim prefix="WHERE(" suffix=")" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'id'.toString()">
							id = (CAST(#{keyword} AS UNSIGNED))
						</when>
						<when test="type == 'email'.toString()">
							email LIKE CONCAT('%',#{keyword},'%')
						</when>
						<when test="type == 'name'.toString()">
							name LIKE CONCAT('%',#{keyword},'%')
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="selectAllUsers" resultType="com.project.bibaboo.domain.user.dto.UserDTO">
		SELECT id, email, name, phone_number, create_date, enable
		FROM user
		<if test="keyword != null">
			<include refid="criteria">
			</include>
		</if>
	</select>
	
	<select id="countUsers" resultType="int">
		select count(*)
		FROM user
		<if test="keyword != null">
			<include refid="criteria">
			</include>
		</if>
	</select>

	<select id="getUserByEmail" resultType="com.project.bibaboo.domain.user.dto.UserDTO">
		SELECT u.id, u.email, u.password, u.name, u.phone_number, u.create_date, u.enable, a.id as alterId
		FROM user u
		LEFT OUTER JOIN alterations a
		ON u.id = a.user_id
		WHERE u.email = #{loginUserEmail}
	</select>
	
	<select id="getUserRoleByEmail" resultType="com.project.bibaboo.domain.user.dto.UserRoleDTO">
		SELECT ur.id, ur.user_id, ur.role_name
		FROM user_role ur
		JOIN user u
		ON ur.user_id = u.id
		WHERE u.email = #{loginUserEmail}
	</select>
	
	<insert id="addUser">
		INSERT INTO USER(email, password, name, phone_number)
		VALUES(#{email},#{password},#{name},#{phoneNumber})
	</insert>
	
	<insert id="addUserRole">
		<selectKey resultType="int" keyProperty="id" order="BEFORE">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO user_role(user_id,role_name)
		VALUES (#{id},'ROLE_USER')
	</insert>
	
	<insert id="addUserAndOwnerRole">
		<selectKey resultType="Integer" keyProperty="id" order="BEFORE">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO user_role(user_id,role_name)
		VALUES (#{id},'ROLE_USER'), (#{id}, 'ROLE_OWNER')
	</insert>

</mapper>