<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="alterations">

	<select id="selectAll" resultType="alterationsDto">
		select * from alterations
	</select>

	<insert id="insert" parameterType="alterationsDto">
		insert into alterations (user_id,name,address,tel_number,open_time,close_time) 
		values(#{userId},#{name},#{address},#{telNumber},#{openTime},#{closeTime})
	</insert>
	
	<insert id="fileNameInsert" parameterType="alterPhotoDto">
		insert into alter_photo (alter_id,name)
		values(last_insert_id(),#{name})
	</insert>

</mapper>